html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

nav {
  width: 100%;
  background: #20232a;
  padding: 0 10px 0 30px; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; }
  .navbar .logo {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    vertical-align: middle; }
  .navbar .nav-links {
    list-style: none;
    display: flex; }
  .navbar .nav-item {
    padding: 10px 15px; }
    .navbar .nav-item .nav-link {
      color: #fff;
      text-decoration: none;
      position: relative;
      text-transform: uppercase;
      font-weight: bold; }
      .navbar .nav-item .nav-link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #41ade5;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
      .navbar .nav-item .nav-link:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }

#hero {
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center; }
  #hero .hero-content {
    color: #20232a;
    padding: 50px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column; }
    #hero .hero-content h1 {
      text-transform: uppercase; }
      #hero .hero-content h1 .f-btm-brdr {
        border-left: #41ade5 solid 5px;
        padding-left: 20px; }
    #hero .hero-content p {
      padding-left: 23px;
      padding-top: 30px; }
    #hero .hero-content .atm-img {
      display: flex;
      flex-direction: row; }

#info-sec {
  background: #ebebeb;
  color: #20232a;
  padding-top: 30px;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  #info-sec .boxes {
    padding: 10px;
    margin: 10px;
    background: #fff;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 5px #41ade5; }
    #info-sec .boxes .inner-info {
      line-height: 1.5; }

#about-us {
  background: #F8F8FF;
  height: 100vh; }
  #about-us .title-1 {
    color: #41ade5;
    padding: 100px;
    text-align: left; }
  #about-us .disc-box {
    background: grey;
    margin: 25px;
    height: 65%;
    width: 80%; }
    #about-us .disc-box .disc-box-1 {
      background: #41ade5;
      margin: 20px;
      height: 35%;
      width: 60%; }
