$ghostWhite: #F8F8FF;
$skyBlue: #41ade5;
$mainGreen: #50c878;
$mainAccent: #013220;
$silverBack: #ebebeb;
$darkPurple: #14001F;
$reactBlack: #20232a;
$electronBabyblue: #74b1be;
$electronGrey: #3a585f;
$robinhoodBlack: #171718;
$robinhoodLgreen: #1ae9aa;
$robinhoodDgreen: #21ce99;