@import 'variables';

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

body {
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

nav {
    width: 100%;
    background: $reactBlack;
    padding: 0 10px 0 30px;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    .logo {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2em;
        vertical-align: middle;
    }

    .nav-links {
        list-style: none;
        display: flex;
    }

    .nav-item {
        padding: 10px 15px;
        .nav-link {
            padding-bottom: 5px;
            color: #fff;
            text-decoration: none;
            position: relative;
            text-transform: uppercase;
            font-weight: bold;
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: 0;
                left: 0;
                background-color: $skyBlue;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
            }
            &:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }

        }
    }
}

#hero {
    // background: url('/assets/cool-background.png') no-repeat;
    // background-size: cover;
    // background-position: center;
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;

    .hero-content {
        color: $reactBlack;
        padding: 50px;
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        h1 {
            text-transform: uppercase;
            
            .f-btm-brdr {
                border-left: $skyBlue solid 5px;
                padding-left: 20px;
            }
        }
        p {
            // font-family: Helvetica, serif;
            padding-left: 23px;
            padding-top: 30px; 
        }
        .atm-img {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    
}

#info-sec {
    background: $silverBack;
    color: $reactBlack;
    padding-top: 30px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .boxes {
        padding: 10px;
        margin: 10px;
        background: #fff;
        height: 300px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-top: solid 5px $skyBlue;
        .inner-info {
            line-height: 1.5;
        }
    }
}
#about-us {
    background: #FDFDFD;
    // height: 100vh;
    padding: 50px;
    .title-1 {
        color: $skyBlue;
        padding: 100px;
        text-align: center;
        font-size: 1.3em;
    }
    .disc-box {
        background: $silverBack;
        height: 400px;
        width: 1000px;
        margin: 0 auto;
        padding: 50px;
        .disc-box-abt {
            padding: 20px;
            text-align: center;
            color: $reactBlack;
            line-height: 1.5;
            font-weight: 800;
            font-size: 1.5em;
        }
    }
}
